#setting {
	overflow: hidden;
	background: url('assets/sky.png') no-repeat;
}
#clouds {
  position : absolute;
  width:100%; height:400px; top:0px;
  background: url("assets/clouds.png") repeat-x;
  z-index:-1;
}
#mountains {
  position : absolute;
  width:100%; height:300px; bottom:230px; z-index:1; 
  background: url('assets/mountain_small_brown.png');
  background-size: 2100px;
}
#fb1, #fb2 , #fb3, #fb4{
  width: 300px;
  height:150px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 28px;
  color: #6f0202;
  background: url('assets/flying_banner.png') no-repeat;
  background-size: 270px;
  position: absolute;
  z-index: 12;
}

#fb1 {
  right: -300px;
  top: 150px;
}
#fb2 {
	right: -900px;
	top: 100px;
}
#fb3 {
  right: -1300px;
  top: 150px;
}
#fb4 {
	right: -2000px;
	top: 100px;
}

#bb {
	right: -2700px;
	z-index: 10;
	width: 1500px;
	height: 510px;
	bottom: 190px;
	position: absolute;
}

#bb29 {
	width: 750px;
	height: 510px;
	position: absolute;
	background: url('assets/bb29.png') no-repeat;
	background-size: 750px;
	top: 0px;
	left: 0px;
	z-index: 10;
}
#bb30 {
	width: 750px;
	height: 510px;
	bottom: 190px;
	position: absolute;
	background: url('assets/bb30.png') no-repeat;
	background-size: 750px;
	top: 0px;
	left: 800px;
	z-index: 10;
}

.banner {
	width: 750px;
	height: 80px;
	top: 30px;
	position: relative;
	padding: 15px 0px 0px 25px;
	left: 251px;
	color: #fff;
	background: #48005f;
	text-align: center;
}
.banner {
	color: #0094bf;
	background: #080f19 ;
}


#trees
{
  position : absolute;
  width:100%; height:350px; bottom:140px; z-index:3; background: url('assets/trees_small.png');
  background-size: 2000px;
}
#road {
	position:absolute; width:100%; height:290px; bottom:0px; 
	background: url('assets/road1.png?3'); 
	z-index:0;
}
#rick {
	position:absolute; width:350px; height:260px; bottom:53px; 
	background: url('assets/rickshaw.png'); 
	background-size: 350px;
	z-index:15 
}
#aj_head{
	position: absolute;
	background: url('assets/ajay_head.png'); 
	width: 68px;
	height: 90px;
	left:180px;
	top:-10px;
}
#swa_head {
	position: absolute;	
	background: url('assets/swa_head.png'); 
	width: 85px;
	height: 145px;
	top: 0px;
	left: 80px;
}
body {
}
.spacer {
	text-align: center;
	min-height: 100px;
}
.spacer.s0 {
	min-height: 1px;
}
.spacer.s1 {
	min-height: 100px;
}
.spacer.s2 {
	min-height: 200px;
}
.spacer.s3 {
	min-height: 300px;
}
.spacer.s4 {
	min-height: 400px;
}
.spacer.s5 {
	min-height: 500px;
}
.spacer.s6 {
	min-height: 600px;
}
.spacer.s7 {
	min-height: 700px;
}
.spacer.s8 {
	min-height: 800px;
}
.spacer.s9 {
	min-height: 900px;
}
.spacer.s10 {
	min-height: 1000px;
}
.spacer.s_viewport {
	min-height: 100%;
}
.horizontal .spacer {
	margin-bottom: 0;
	min-height: initial;
	min-width: 100px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.horizontal .spacer.s0 {
	min-width: 1px;
}
.horizontal .spacer.s1 {
	min-width: 100px;
}
.horizontal .spacer.s2 {
	min-width: 200px;
}
.horizontal .spacer.s3 {
	min-width: 300px;
}
.horizontal .spacer.s4 {
	min-width: 400px;
}
.horizontal .spacer.s5 {
	min-width: 500px;
}
.horizontal .spacer.s6 {
	min-width: 600px;
}
.horizontal .spacer.s7 {
	min-width: 700px;
}
.horizontal .spacer.s8 {
	min-width: 800px;
}
.horizontal .spacer.s9 {
	min-width: 900px;
}
.horizontal .spacer.s10 {
	min-width: 1000px;
}
.spacer.s_viewport {
	min-width: 100%;
}


/*
	General styles
*/
body {
	font-family: 'Bubblegum Sans', cursive, "Source Sans Pro", Arial, sans-serif;
	font-size: 13px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
	height: 100%
}

h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
}
h2 {
	font-size: 20px;
}
h4 {
	font-size: 32px;
	margin: 0px;
}
a, a:visited {
	text-decoration: none;
	color: #2e639e;
}
a:hover {
	text-decoration: underline;
}
.touchonly {
	display: none;
}
html.touch .touchonly {
	display: block;
}
.noselect * {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.doselect * {
	user-select: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;	
}